.SearchAndAdd {
    width: 350px;
    height: 350px;
    background-color: white;
    color: rgb(78, 70, 70);
    border-radius: 1px;
    border: 1px solid lightgrey;
    position: absolute;
    cursor: move;
    top: 150px;
    left: 520px;
}


.DialogTitle {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}


.AddButton {
    font-size: 12px;
    width: 50px;
    color: rgba(0, 0, 0, 0.842);
    border: 1px solid lightgrey;
    border-radius: 1px;
    padding: 10px;
    margin: 10px;
    margin-left: 14px;
    cursor: pointer;
}

.location-search-input {
    width: 200px;
    border: 1px solid lightgrey;
    
}
